body {
  margin: 0;
  background-color: beige;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

form {
  display: grid;
  place-items: center;
  max-width: 50%;
  gap: 2rem;
  margin: auto;
}

.center {
  border: 3px solid;
  margin: auto;
  width: 50%;
  padding: 10px;
}

.container {
  margin: 1rem;
  text-align: center;
}

.logo {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
  align-items: center;
  height: 100%;
  padding: 1rem;
}

.navbar {
  background-color: #f3f3cd;
  color: #272020;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 0 1rem;
}

.navbar > ul {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  gap: 3rem;
  align-items: center;
  height: 100%;
}

.navbar > ul > li {
  list-style: none;
  margin-top: 1rem;
  font-size: 2rem;
  font-weight: 500;
  padding: 1rem;
}
.navbar > ul > li > a {
  text-decoration: none;
  color: inherit;
}
a:focus {
  background-color: yellow;
}

.navbar > ul > li > a:hover {
  background-color: olive;
  color: white;
  padding: 0.1rem 0.1rem;
}

.footer-logo {
  display: flex;
  justify-content: space-around;
  margin-left: 2rem;
  gap: 1rem;
}
